{% extends "crm/modals/base_modal.html" %}

{% block modal_title %}Добавить сотрудника{% endblock %}

{% block modal_body %}
<form id="createEmployeeForm" method="post">
    {% csrf_token %}
    
    <ul class="nav nav-tabs mb-3" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#existing-user-tab">
                Существующий пользователь
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#new-user-tab">
                Новый пользователь
            </button>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane fade show active" id="existing-user-tab">
            <div class="mb-3">
                {{ form.existing_user.label_tag }}
                {{ form.existing_user }}
                <div class="form-text">Выберите пользователя из списка зарегистрированных</div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="new-user-tab">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                <div class="form-text">Минимум 8 символов</div>
            </div>
        </div>
    </div>
    
    <hr>
    
    <h6 class="mb-3">Параметры работы в компании</h6>
    
    <div class="mb-3">
        {{ form.role.label_tag }}
        {{ form.role }}
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                {{ form.salary_rate.label_tag }}
                <div class="input-group">
                    {{ form.salary_rate }}
                    <span class="input-group-text">₽</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                {{ form.commission_rate.label_tag }}
                <div class="input-group">
                    {{ form.commission_rate }}
                    <span class="input-group-text">%</span>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block modal_footer %}
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
    <button type="submit" form="createEmployeeForm" class="btn btn-primary">
        <i class="fas fa-user-plus me-1"></i>Добавить сотрудника
    </button>
</div>

<script>
// Show/hide commission rate based on role
document.getElementById('id_role').addEventListener('change', function() {
    const commissionGroup = document.getElementById('id_commission_rate').closest('.mb-3');
    if (this.value === 'executor') {
        commissionGroup.style.display = 'block';
    } else {
        commissionGroup.style.display = 'none';
        document.getElementById('id_commission_rate').value = '0';
    }
});

// Trigger change event on load
document.getElementById('id_role').dispatchEvent(new Event('change'));
</script>
{% endblock %}